<a href="https://colab.research.google.com/github/Kcost012/CSC221_Kcost012/blob/main/Assignment5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# TIY 4-1

pizzas = ['jalapeno', 'bacon', 'onion']
for pizza in pizzas:
  print(pizza)
  print(f"{pizza.title()} pizza is an amazing delicous pizza!\n")

print("I really like pizza")

jalapeno
Jalapeno pizza is an amazing delicous pizza!

bacon
Bacon pizza is an amazing delicous pizza!

onion
Onion pizza is an amazing delicous pizza!

I really like pizza

In [ ]:
# TIY 4-2

animals = ['puma', 'lion', 'tiger']
for animal in animals:
  print(animal)
  print(f"A {animal}, is a very dangerous animal.\n")

print("All of these animals are big cats.")

puma
A puma, is a very dangerous animal.

lion
A lion, is a very dangerous animal.

tiger
A tiger, is a very dangerous animal.

All of these animals are big cats.

In [ ]:
# TIY 4-3

for value in range(1, 21):
  print(value)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [ ]:
# TIY 4-4

numbers = []
for value in range(1, 1000001):
  print(value)

In [ ]:
# TIY 4-5

numbers = list(range(1, 1000001))
max(numbers)

1000000

In [ ]:
# TIY 4-5 Continued

numbers = list(range(1, 1000001))
min(numbers)

1

In [ ]:
# TIY 4-5 Continued

numbers = list(range(1, 1000001))
sum(numbers)

500000500000

In [ ]:
# TIY 4-6

odd_numbers = []
for value in range(1, 21, 2):
  print(value)

1
3
5
7
9
11
13
15
17
19

In [ ]:
# TIY 4-7

multiples_3 = [value*3 for value in range(3, 11)]
print(multiples_3)

[9, 12, 15, 18, 21, 24, 27, 30]

In [ ]:
# TIY 4-8

cubes = [value**3 for value in range(1, 11)]
print(cubes)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [ ]:
# TIY 4-9

cubes = [value**3 for value in range(1, 11)]
print(cubes)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [ ]:
# TIY 4-10

my_foods = ['wraps', 'ramen', 'curry', 'wings', 'michigans', 'ribs', 'corn on the cob']
print("Here are the first three items in my list:")
for my_food in my_foods[0:3]:
  print(my_food.title())

print("The three items in the middle of my list are:")
for my_food in my_foods[2:5]:
  print(my_food.title())

print("The last three items in my list are:")
for my_food in my_foods[4:7]:
  print(my_food.title())

Here are the first three items in my list:
Wraps
Ramen
Curry
The three items in the middle of my list are:
Curry
Wings
Michigans
The last three items in my list are:
Michigans
Ribs
Corn On The Cob

In [ ]:
# TIY 4-11

pizzas = ['jalapeno', 'bacon', 'onion']
friend_pizzas = pizzas[:]

pizzas.append('pepperoni')
friend_pizzas.append('mushroom')

print(f"My favorite pizzas are:")
for pizza in pizzas[:]:
  print(pizza)

print(f"My friends favorite pizzas are:")
for friend_pizza in friend_pizzas[:]:
  print(friend_pizza)

My favorite pizzas are:
jalapeno
bacon
onion
pepperoni
My friends favorite pizzas are:
jalapeno
bacon
onion
mushroom

In [ ]:
# TIY 4-12

# This example asks to print two food lists with a for loop because they did not have examples using food.
# I just did this in the previous example so it is repetitive and will just copy and paste my awnser to TIY 4-11.

In [ ]:
# TIY 4-13

buffets = ('wings', 'egg rolls', 'stir fry', 'fries', 'nachos')
for buffet in buffets[:]:
  print(buffet)

buffets[0] = 'crab'

wings
egg rolls
stir fry
fries
nachos

TypeError: 'tuple' object does not support item assignment

In [ ]:
# TIY 4-13 Continued

buffets = ('wings', 'egg rolls', 'stir fry', 'fries', 'nachos')
print("Original menu:")
for buffet in buffets[:]:
  print(buffet)

buffets = ('wings', 'fries', 'nachos', 'crab', 'soup')
print("\nNew menu:")
for buffet in buffets[:]:
  print(buffet)

Original menu:
wings
egg rolls
stir fry
fries
nachos

New menu:
wings
fries
nachos
crab
soup

In [ ]:
# TIY 4-14

# This TIY reccomends visiting PEP 8 and looking through some of its guidelines.

In [ ]:
# TIY 4-15

# This TIY recommends going through and trying some of the PEP8 style guide
# Options that were recommended like reducing the size of a code line and
# Changing your indentation spacing. I changed my indentation spacing in my
# Settings and am now going to adhere to the 80 character limit.

In [28]:
# Assignment 5 #2


def factorial(n):
    factorial = 1
    for x in range(1, n + 1):
        factorial *= x
    return factorial

for x in range(20):
    print(factorial(x))

1
1
2
6
24
120
720
5040
40320
362880
3628800
39916800
479001600
6227020800
87178291200
1307674368000
20922789888000
355687428096000
6402373705728000
121645100408832000

In [30]:
# Assignment 5 #3

def special_factorial(n):
    factorial = 1
    for x in range(1, n + 1):
        if x != 4:
            if x != 13:
                if x != 22:
                     factorial *= x
    return factorial

for x in range(24):
    print(special_factorial(x))

1
1
2
6
6
30
180
1260
10080
90720
907200
9979200
119750400
119750400
1676505600
25147584000
402361344000
6840142848000
123122571264000
2339328854016000
46786577080320000
982518118686720000
982518118686720000
22597916729794560000